body {
  background-color: rgba(186, 203, 120, 0.296);
  color: blueviolet;
  font-size: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
